@page "/checkout"
@inject ILocalStorageService ls
@inject HttpClient cl
@inject NavigationManager Nav
<h3>Checkout</h3>

<EditForm Model="customer" OnValidSubmit="@ProcessCart">
    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="customer.FName"/>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <InputText id="surname" @bind-Value="customer.LName"/>
    </div>
    <div>
        <label for="mail">E-Mail:</label>
        <InputText id="mail" @bind-Value="customer.Mail"/>
    </div>
    <div>
        <label for="country">Country:</label>
        <InputText id="country" @bind-Value="customer.Country"/>
    </div>
    <div>
        <label for="city">City:</label>
        <InputText id="city" @bind-Value="customer.City"/>
    </div>
    <div>
        <label for="zip">Zip:</label>
        <InputNumber id="zip" @bind-Value="customer.Zip"/>
    </div>
    <div>
        <label for="address">Address:</label>
        <InputText id="address" @bind-Value="customer.Address"/>
    </div>
    <button type="submit">Process</button>
</EditForm>

@code {
    public Customer customer = new();
    public Order o = new();
    public async Task ProcessCart()
    {
        Order newOrder = new();
        string cartStr = await ls.GetItemAsStringAsync("Cart");
        List<Cart> cart = cartStr.ToCartModels();
        newOrder.Products = cart.Select(x => new Product()
			{
				Id = x.Id,
				Name = x.Name,
				Price = x.Price,

			}).ToList();

        Customer partner = null;

        try
        {
            partner = await cl.GetFromJsonAsync<Customer>($"/api/Customer/email/{customer.Mail}");
        }
        catch (Exception e)
        {
            //do not fail if customer is not there
        };

        if (partner == null)
        {
            partner = new()
            {
                FName = customer.FName,
                LName = customer.LName,
                Mail = customer.Mail
            };
            var CustomerCreateResult = await cl.PostAsJsonAsync<Customer>("/api/Customer",customer);

            if (CustomerCreateResult.IsSuccessStatusCode)
            {
                partner = await cl.GetFromJsonAsync<Customer>($"/api/Customer/email/{customer.Mail}");
            }
        }
        newOrder.Customer = partner;
        newOrder.CustomerId = partner.Id;
        newOrder.Total = 100;
        var result = await cl.PostAsJsonAsync<Order>("/api/Order",newOrder);
		
	}
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}
